global
  daemon
  log stdout local0

defaults
  log global
  mode tcp
  option tcplog
  option dontlognull
  timeout connect 5000
  timeout client 50000
  timeout server 50000

listen stats
  bind *:8404
  stats enable
  stats uri /stats
  stats refresh 5s

listen postgres_master
  bind *:5432
  balance first
  option httpchk
  http-check connect port 8008
  http-check send meth GET uri /master ver HTTP/1.0 hdr Host patroni hdr Connection close
  http-check expect status 200
  default-server inter 5s fall 3 rise 2 maxconn 100 check port 8008
  server patroni1 patroni1:5432
  server patroni2 patroni2:5432
  server patroni3 patroni3:5432

listen postgres_replicas
  bind *:5433
  balance roundrobin
  option httpchk
  http-check connect port 8008
  http-check send meth GET uri /replica ver HTTP/1.0 hdr Host patroni hdr Connection close
  http-check expect status 200
  default-server inter 5s fall 3 rise 2 maxconn 100 check port 8008
  server patroni1 patroni1:5432
  server patroni2 patroni2:5432
  server patroni3 patroni3:5432
